.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, auto));
  justify-content: center;
  gap: 20px;
  padding-top: 36px;
}

@media (min-width: 768px) {
  .cards {
    gap: 17px;
  }
}
