.popup {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  display: grid;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  place-content: center;
  background-color: rgba(0, 0, 0, .5);
  z-index: 3;
  transition: opacity .3s, visibility 0s .3s;
}
